.DS_Store
.dfx
.env
target
internet_identity.did
quill
**/*.pem
sns-testing/**
msg.json
ic-test-state-machine
argument
.history
!scripts/canisters/docker/local-admin.pem
!scripts/canisters/docker/minter.pem
icp_index.wasm.gz
icp_ledger.wasm.gz
